
@media (max-width: 1050px) {
   section {
      width: 100%;
   }

   .main {
      &__content {
         padding-right: 30px;
         .hard-skills {
            width: 100%;
         }
         .soft-skills__wrapper {
            width: 100%;
            position: static;
         }
         .soft-skills {
         width: 100%;
         height: auto;
         padding: 0;
         }
         .expirience {
            img {
               width: 100%;
               margin-bottom: 20px;
            }
            h2 {
               margin: 20px 0;
            }
         }
      }
      .aside {
         height: 100%;
      }
   }
}

@media (max-width: 770px) {
   .header {
      text-align: center;
   }
  
   .main {
      .main__content {
         
         .education {
           flex-wrap: wrap; 
           width: 100%;
           height: auto;

         }

         .expirience,
         .education {
            img {
               display: block;
               margin: 0 auto 20px;
               width: 100%;
               margin-bottom: 20px;
            }
            h2 {
               margin: 20px 0;
            }
         }
      }
      .aside {
         height: 100%;
         width: 100%;
         img {
            height: 200px;
         }
      }
   }
}

@media (max-width: 420px) {

   aside {
      display:none;
   }
   .home {      
         .aside {
            display: block;        
         }
   }    
    .btn{
        display: block;
    }
    .header {
        padding: 30px;
        text-align: center;
        ul {
            display: none;            
            position: absolute;
            padding: 10px 20px;
            top: 30px;
            left: -30px;
            z-index: 5;
            // transform: translateX(-100%);
            background-color: $bg-block;
                li {                
                display: block;
                margin-bottom: 20px;
                & + li {
                    margin-left: 0;
                }

            }
        }
    }
    section {
        margin-bottom: 20px;
    }
   
    .main {
        padding: 20px;
        &__inner {
           display: block;
        }
        &__content{
           padding-right: 0;
           h2 {
            text-align: center;
         }
         
           .hard-skills {
            margin-top: 0;  
            width: inherit;
              .line {
                 width: 60%;
                 height: 7px;
              }
              
           }
           .soft-skills {
              margin-left: 0;
              padding: 20px 0;
                  
              ul {
               
                 li {
                    
                    &:nth-child(odd) {
                       margin-right: -25px;
                    }
                    
                    &:nth-child(3) {
                       margin-right: 20px;
                    }
                    &:nth-child(9) {
                       margin-left: -20px;
                    }                  
                 }
                 
              }
           }
           .projects {

              .mastia {
               margin: 0 auto 20px;
              }
              h1 {
                 margin: 0 auto 45px;
              }
              ul {
                 margin-top: 0px;
   
                 h3 {
                   width: 50px;
                   margin: 10px auto;
                 }
                 li {
                    margin: 0 auto 20px;
                    width: 200px;
                    padding: 10px 20px;
                    font-size: 14px;

                 }
                 .link {
                     font-size: 14px;
                     margin: 0 auto;
                 }
                 a {
                    font-size: 12px; 
                 }
              }
             
           }
           .education {
              display: block;
             
              img {
                 width: 100%;
                 height: 200px;                 
                 margin-right: 0;
              }
           }
           .expirience {
              img {
                 width: 100%;
                 height: 200px;
                 margin-right: 0px;
                 float: none;
              }
           }
           
        }
   .aside {
      line-height: 18px;
      padding: 30px;
      margin-bottom: 20px;
      margin-right: 0;
      z-index: 2;
      img {
         display: block;
         margin: 0 auto 30px;
         height: 205px;
      }
      h2 {
         width: 100%;
         margin-left: 0;
         
      }
      address {
         width: 250px;
      }
     
     }  
  }
  .footer {
   
    &__inner {
       flex-wrap: wrap;

    span {
        margin-left: 0;
        font-size: 13px;
    }
 }
}
 .social-links {
    li {
       width: 25px;
       height: 25px;
       padding-top: 3px;
       font-size: 15px;
    }
 }
}





