$brown: #15555e;
$font: #fff;
$font-hover: $brown;
$font-title: hsl(207, 13%, 86%);
$nav: hsla(196, 39%, 39%, 0.9);
$bg-block: hsla(196, 39%, 49%, 0.8);
$block-width: 600px;
// $link: #FAA187;
$link: #a45ead;
//  $bg-block: #8aa8b0;

@mixin flex {
  display: flex;
  justify-content: space-between;
}

@mixin title {
  margin: 0px auto 20px;
  color: $brown;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
}

@mixin rate {
  display: block;
  height: inherit;
  background-color: $link;
  border-radius: 5px;
}

@mixin skills {
  width: $block-width;
  text-align: left;
  h2 {
    text-align: center;
  }
}

@mixin past {
  width: 98%;
  text-align: left;
  line-height: 24px;
}
